<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

    <bean id="mongoDBPhotoDAO" class="com.epam.project.mongodb.dao.MongoDBPhotoDAO">
        <constructor-arg ref="mongo"/>
    </bean>
    <bean id="mongoDBUserDAO" class="com.epam.project.mongodb.dao.MongoDBUserDAO" >
        <constructor-arg ref="mongo"/>
    </bean>
    <bean id="loginAction" class="com.epam.project.rest.LoginAction" />
    <bean id="photoAction" class="com.epam.project.rest.PhotoAction" />
    <bean id="userResource" class="com.epam.project.rest.UserResource" />
    <bean id="mongo" class="com.mongodb.MongoClient">
        <constructor-arg name="host" value="localhost" />
        <constructor-arg name="port" value="27017" />
    </bean>
</beans>